@use "../../abstract/mixins";
@use "../../abstract/variable" as var;


#contact {
    background-color: var.$footercolor;
    
    padding: 1rem 5vw;
    color: white;
    margin-top: -1px;
    
    .contact {
        padding-top: 1rem;
        border-top: 1px solid lightslategray;
        @include mixins.flex (flex, space-between);
    }
    .reseaux ul {
        @include mixins.flex (flex, space-between);
        margin-right: 2rem;
        

        li {
            padding: 1rem 0.8rem;

            i {
                font-size: 35px;
            }
        }
    }
}

@media screen and (max-width:700px){
    #contact {

        .contact {
            justify-content: center;
            flex-wrap: wrap;
            text-align: center;

            div {
                padding: 1rem;
            }
        }
        .reseaux ul {
            margin-right: 0;

            li {
                margin-top: 1rem;
            }
        }
    }
}