@use "../../abstract/mixins";
@use "../../abstract/variable" as var;

#contact {
    background-color: var.$footercolor;
    @include mixins.flex (flex, space-between);
    padding: 1rem;
    color: white;
    
    .reseaux ul {
        @include mixins.flex (flex, space-between);
        margin-right: 2rem;

        li {
            padding: 1rem 0.5rem;

            i {
                font-size: 30px;
            }
        }
    }
}

@media screen and (max-width:700px){
    #contact {
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        div {
            padding: 1rem;
        }
        .reseaux ul {
            margin-right: 0;

            li {
                margin-top: 1rem;
                padding: 0 2rem;
            }
        }
    }
}