@use "../../abstract/mixins";
@use "../../abstract/variable" as var;

#get_in_touch {
    background-color: var.$primarycolor;
    margin: 0 10vw;
    border-radius: 20px;
    @include mixins.flex (flex, space-between);
    position: relative;
    z-index: 2;

    .git_text  {
        margin: 6rem 0 6rem 4rem;
        width: 50%;
        color: white;

        h2 {
            display: block;
            width: 80%;
            padding-bottom: 1rem;
            text-transform: none;
        }
    }

    .btn {
        @include mixins.button;
        margin-right: 5vw;
    }
}
#fondgris {
    position: relative;
    background-color: var.$footercolor;
    height: 270px;
    width: 100%;
    margin-top: -230px;
    z-index: 1;
}

@media screen and (max-width:700px) {
    #get_in_touch {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        padding-bottom: 1rem;

        .git_text {
            margin: 1rem 0 2rem 0;
            padding: 1rem 0.5rem;
            width: 100%;

            p {
                max-width: 90%;
            }
        }
    }
}